<section class="team">
    <div class="container">
      <!-- Section Title Starts -->
      <div class="row text-center">
        <h2 class="title-head">our <span>experts</span></h2>
        <div class="title-head-subtitle">
          <p> A talented team of financial and economic experts</p>
        </div>
      </div>
      <!-- Section Title Ends -->
      <!-- Team Members Starts -->
      <div class="row team-content team-members">
        <!-- Team Member Starts -->
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <div class="team-member">
            <!-- Team Member Picture Starts -->
            <img src="{% static 'asset/images/team/photo 2.jpg' %}" class="img-responsive" alt="team member">
            <!-- Team Member Picture Ends -->
            <!-- Team Member Details Starts -->
            <div class="team-member-caption social-icons">
              <h4>Kimberly Buckner</h4>
              <p>Director</p>
            </div>
            <!-- Team Member Details Ends -->
          </div>
        </div>
        <!-- Team Member Ends -->
        <!-- Team Member Starts -->
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <div class="team-member">
            <!-- Team Member Picture Starts -->
            <img src="{% static 'asset/images/team/photo 1.jpeg' %}" class="img-responsive" alt="team member">
            <!-- Team Member Picture Ends -->
            <!-- Team Member Details Starts -->
            <div class="team-member-caption social-icons">
              <h4>Boris Schlossberg</h4>
              <p>Co-Founder</p>
            </div>
            <!-- Team Member Details Ends -->
          </div>
        </div>
        <!-- Team Member Ends -->
        <!-- Team Member Starts -->
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <!-- Team Member-->
          <div class="team-member">
            <!-- Team Member Picture Starts -->
            <img src="{% static 'asset/images/team/photo 3.jpeg' %}" class="img-responsive" alt="team member">
            <!-- Team Member Picture Ends -->
            <!-- Team Member Details Starts -->
            <div class="team-member-caption social-icons">
              <h4>Betty Scott</h4>
              <p>Bitcoin Consultant</p>
            </div>
            <!-- Team Member Details Ends -->
          </div>
        </div>
        <!-- Team Member Ends -->
        <!-- Team Member Starts -->
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <div class="team-member">
            <!-- Team Member Picture Starts -->
            <img src="{% static 'asset/images/team/photo 4.jpeg' %}" class="img-responsive" alt="team member">
            <!-- Team Member Picture Ends -->
            <!-- Team Member Details Starts -->
            <div class="team-member-caption social-icons">
              <h4>Grace jackson</h4>
              <p>Senior Account Manager</p>
            </div>
            <!-- Team Member Details Ends -->
          </div>
        </div>
        <!-- Team Member Ends -->
      </div>
      <!-- Team Members Ends -->
    </div>
  </section>
  <!-- Team Section Ends -->