{% extends 'base.html' %}
{% load static %}
{% block title %}FAQ{% endblock %}
{% block content %}
 <section class="banner-area">
            <div class="banner-overlay">
                <div class="banner-text text-center">
                    <div class="container">
                        <!-- Section Title Starts -->
                        <div class="row text-center">
                            <div class="col-xs-12">
                                <!-- Title Starts -->
                                <h2 class="title-head">Frequently Asked Questions </h2>
                                <!-- Title Ends -->
                                <hr>
                                <!-- Breadcrumb Starts -->
                                <ul class="breadcrumb">
                                    <li><a href="{% url 'index' %}"> home</a></li>
                                    <li>FAQ</li>
                                </ul>
                                <!-- Breadcrumb Ends -->
                            </div>
                        </div>
                        <!-- Section Title Ends -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Area Starts -->
        <!-- FAQ Area Starts -->
        <section class="faq-page">
        	<div class="container">
        		<div class="row faq-content">
        			<div class="col-sm-12">
        				<p>

Q. What is Naxtrust online trading platform? <br/>
A. Naxtrust online trading - is a smart trading service developed for affordable cryptocurrencies & Forex trading, designed
   to provide trading brokerage and frequent payouts within the shortest possible timeframe.<br/><br/>

Q. What is cryptocurrency?<br/>
A. Cryptocurrency (or crypto currency) is a digital asset designed to work as a medium of exchange using cryptography to secure the transactions and to control the creation of additional units of the currency. Cryptocurrencies are classified as a subset of digital currencies and are also classified as a subset of alternative currencies and virtual currencies.<br/><br/>

Q. Why should I invest with Naxtrust online trading platform?<br/>
A. Naxtrust trading platform provides you a way to tap into the successful trading systems and therefore allowing you to diversify your trading portfolio whether you're an experienced trader or a newbie.<br/><br/>

Q. How do I earn money by investing?<br/>
A. You are purchasing trading contracts based on the amount you can afford. You will be receiving returns on weekly/monthly basis depending on your trading trading or investment plans .<br/><br/>

Q. What influences my payouts?<br/>
A. Your payouts depends on the market price of currencies, as you will be receiving fixed payouts .<br/><br/>

Q. What are the conditions for profit withdrawal?<br/>
A. There are no conditions for withdrawal, however it is allowed to make 10 withdrawal per week.
<br/><br/>
Q. How long does it take to withdraw from Naxtrust platform Account?<br/>
A. Under normal circumstances, it can take up to two hours to process a Withdrawal as all user requests are audited for security purposes.<br/><br/>

Q. Why up to 2hours?<br/>
A. Withdrawal requests are processed during our office hours of between 09:00 - 17:00 GMT, Monday - Saturday. Since Withdrawal Requests are queued for manual processing from when we receive them, there is no set time. In reality our team will bulk process requests several times a day, and more often than not, out of normal office hours; evenings and weekends.
We stipulate that they will be processed within a period of 2 hours, taking into consideration time-zone differences for our clients globally.<br/><br/>

Q. Can i withdraw my initial capital?<br/>
A. Yes, you can withdraw initial capital after the investment contract is completed. At the end of the investment contract of (5 days) your initial capital can be withdrawn, after a 1.5% tax/closing/maintenance fees has been deducted. If a Trader or Investor choose to close down account within the (5 days) time, a two days notice should be given to the account manager, a 2% penalty is deducted and account will be closed in 10hours.
<br/><br/>
Q. How much profit do we earn with this program as an investor?<br/>
A. Up to 50% or 80% daily for crypto trading and up to 400% or 425% weekly profits for the Forex investment; depending on the contract package the individuals choose to buy into.
<br/><br/>
Q. Are the deposits and withdrawals done in crypto or fiat?<br/>
A. All transactions are done in BTC,ETH,LTC and BTCH mainly. But the profits are valued and calculated based on fiat rate, not the cryptos.<br/><br/>

Q. I don't want to withdraw weekly, can i compound?<br/>
A. Yes, you can compound on investments above $2,000. When you decide to compound, We will amend the contract previously signed and new contract/extension is signed, your weekly investment progress will be held for 4 weeks(1 month) and the accumulation is added to your existing investment. Your investment is held for a month  and payout is locked for that duration. For amounts below $1100, there is no option yet for compounding.<br/><br/>

Q. Is the profit guaranteed?<br/>
A. Yes, it is.<br/><br/>

Q. Can i have more than one contract running?<br/>
A. Yes, you can simply create a separate account with a new registration email.<br/><br/>

Q. Is there any minimum purchase amount?<br/>
A. YES. $200 minimum possible Plan 1; $2000 minimum possible Plan 2; $20,000 minimum possible Plan 3,<br/>
$50,000 minimum possible Plan 4, $100,000 minimum possible Plan 5, $150,000 minimum Corporate Plan
( We value all crypto currencies sent in USD)
<br/><br/>
Q.Is there any minimum withdrawal amount?<br/>
A. Minimum withdrawal amount is equivalent to $100 in contract currency.<br/><br/>
Q. Can I make additional deposits to my Naxtrust platform Account?<br/>
A. Yes, investment top-ups are allowed.<br/><br/>
Q. Why reinvesting your trading profit is a smart way?<br/>
A. As you will be getting weekly/monthly return payouts, you will be able to reinvest your returns in order to increase the lot size of your trade or investment and of course to increase your further returns. This is how you can maximize your returns without buying additional contracts.
<br/><br/>
Q. Does my account automatically upgrade to next package as i compound or make additional deposits?<br/>
A. Yes, we will prompt an automatic update.<br/><br/>

Q. How do I get started?<br/>
A. We recommend that you get yourself familiar with the Naxtrust brokerage platform system and connect with any of our Account managers. Once you're ready to open an account, simply register with one of our supported managers - once the account is funded and approved, trading commences within two hours.<br/><br/>

Q. What is the fee for using Naxtrust platform?<br/>
A. It depends on the account - there is a small markup spread, different percentage (%) fees for the different investment plans(this is due to difference in spreads).
If you're wondering why similar services claim to be free, then that's because they hide the cost in fine print.
<br/><br/>
</p>
        			</div>
        		</div>
        	</div>
        </section>


        <!-- Call To Action Section Starts -->
      <section class="call-action-all">
        <div class="call-action-all-overlay">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <!-- Call To Action Text Starts -->
                <div class="action-text">
                  <h2>Join Other Registered Users</h2>
                  <p class="lead">Open account today and start trading!</p>
                </div>
                <!-- Call To Action Text Ends -->
                <!-- Call To Action Button Starts -->
                <p class="action-btn">

                    <a  href="{% url 'register' %}" class="btn btn-primary">Register Now</a>

                <!-- Call To Action Button Ends -->
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
