{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">

                        <h1 class="breadcrumb-title text-color-primary">ABOUT US</h1>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active">About Us</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->




    <div class="site-wrapper-reveal">
        <div class="timeline-area section-space--ptb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ht-timeline style-01">
                            <ul class="tm-timeline-list ht-animation-queue">
                                <li class="line"></li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">
                                                <div class="date-wrap">
                                                    <h4 class="year" style="font-size:20px;">{{sitename}}</h4>
                                                </div>

                                                <div class="photo">
                                                    <img src="{% static 'images2/cert.png' %}" alt="timeline-image-01" class="img-fluid">
                                                </div>
                                            
                                               <!--<a href="https://find-and-update.company-information.service.gov.uk/company/10825810" target="_blank" class="btn btn--secondary btn-one"><span class="btn-icon mr-2"><i class="far fa-user"></i></span> Verify company</a>-->
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="content-wrap">
                                                    <div class="content-body">
                                                        <h6 class="heading">LEARN MORE</h6>

                                                        <div class="text">
                                                            {{sitename}} is an absolutely unique and high-tech company, covering several most profitable and relevant business lines of various profitability at once. The main activity of the company is the development and operation of high-tech software and
                                                            equipment used in various fields of medium- and high-profitable business operating through the Internet world network. The company has a wide range of unique financial offers for clients. These
                                                            offers won't allow to stay indifferent even the most demanding specialists in the field of investment and network business development.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                       <!-- <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">


                                                <div class="photo">
                                                    <img src="assets2/images/timeline/timeline-image-02.jpg" alt="timeline-image-01" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="content-wrap">
                                                    <div class="content-body">
                                                        <h6 class="heading">TEAMMATES PASSION AND DEDICATION</h6>

                                                        <div class="text">
                                                            We are grateful to have such a dedicated and passionate teammates, we believe that it's crucial to maintain long and smooth flow under variant conditions. Specially more so in a technology influential industry, (such as: 'Fintech'), in our view dedication
                                                            is the binding ingredient required to formulate a great success.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item animate">
                                    <div class="dots">
                                        <div class="middle-dot"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 timeline-col left timeline-feature">
                                            <div class="inner">


                                              <!--  <div class="photo">
                                                    <img src="assets2/images/timeline/blog-07-500x350.jpg" alt="timeline-image-01" class="img-fluid" width="350px">
                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="col-md-6 timeline-col right timeline-info">
                                            <div class="inner">
                                                <div class="content-wrap">
                                                    <div class="content-body">
                                                        <h6 class="heading">OUR GOAL</h6>

                                                        <div class="text">
                                                            {{sitename}} was built with the mission of making investing a more simple endeavour for everyone, not only expert investors. Democratization is a noun that represents this new century in a very strong sense. With technology becoming more accessible
                                                            to more people, the solutions they bring are expanding into new markets as well. We utilize this new ubiquity of technology to bring cutting edge investing solutions and planning right to your
                                                            screens.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--========== Call to Action Area Start ============-->
        <div class="cta-image-area_one section-space--ptb_80 cta-bg-image_one">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-7">
                        <div class="cta-content md-text-center">
                            <h3 class="heading text-white">Assess your business potentials and find opportunities <span class="text-color-secondary">for bigger success</span></h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="cta-button-group--one text-center">
                            <a href="mailto:{{supportemail}}" class="btn btn--white btn-one"><span class="btn-icon mr-2"><i class="far fa-comment-alt-dots"></i></span> Let's talk</a>
                            <a href="mailto:{{supportemail}}" class="btn btn--secondary  btn-two"><span class="btn-icon mr-2"><i class="far fa-info-circle"></i></span> Get info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--========== Call to Action Area End ============-->








    </div>

{% endblock %}