{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">

                        <h1 class="breadcrumb-title text-color-primary">{{sitename}} Fx DEBIT CARD</h1>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            
                            <li class="breadcrumb-item active">{{sitename}} Debit Card</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->




    <div class="site-wrapper-reveal">
        <div class="timeline-area section-space--ptb_120">
            <div class="container">

                <div class="row">

                    <div class="col-lg-4 order-lg-1 order-2">
                        <div class="page-sidebar-content-wrapper page-sidebar-left  small-mt__40 tablet-mt__40">

                            <img class="img-fluid" src="{% static 'assets2/images/hero/home-infotechno-main-slider-slide-01-image-02.png' %}" alt="Blog Images">

                        </div>
                    </div>
                    <div class="col-lg-8 order-lg-2 order-1">
                        <div class="main-blog-wrap">
                            <!--======= Single Blog Item Start ========-->
                            <div class="single-blog-item">
                                <!-- Post Feature Start -->
                                <div class="post-feature blog-thumbnail wow move-up">
                                    <img class="img-fluid" src="{% static 'news/card.jpg' %}" alt="Blog Images">
                                </div>
                                <!-- Post Feature End -->

                                <!-- Post info Start -->
                                <div class="post-info lg-blog-post-info  wow move-up">


                                    <h3 class="post-title">SECURE AND EASY PAYMENT </h3>



                                    <div class="post-excerpt mt-15">
                                        <p>Get an extra layer of security with Verified by Visa for your online purchases. Go big: use cryptocurrencies to spend up to €30K in a single online transaction.</p>

                                        <blockquote>
                                            <p class="p1">
                                                <b>
                                                  Accepted by 40+ Million Merchants Worldwide
                                                </b>
                                                <br> Using the {{sitename}} Card is like using any other card. All you have to do is swipe your card and the payment amount is deducted from the available balance of your Instant Crypto Credit Line. No hassle
                                                and no selling your crypto.</p>
                                        </blockquote>








                                    </div>

                                </div>
                                <!-- Post info End -->
                            </div>
                            <!--===== Single Blog Item End =========-->
                        </div>
                    </div>
                </div>





            </div>
        </div>

        <!--===========  feature-images-wrapper  Start =============-->
        <div class="feature-images-wrapper section-space--ptb_100">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_40">
                            <h6 class="section-sub-title mb-20">FEATURES</h6>
                            <h4 class="heading">PAYMENTS MADE EASIER</h4>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="feature-images__serven">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/p1.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">It’s prepaid </h6>
                                                <div class="text">The {{sitename}} card comes without overdraft, so you won’t be surprised with overdraft fees.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/p2.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Keep funds safe</h6>
                                                <div class="text">We don’t play with your money in the stock market casino – we are not a bank, your funds are kept in a secure pot.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/p3.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Take Control </h6>
                                                <div class="text">Lock and unlock your card instantly in the app or on the web, no need to contact us.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/p4.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">
                                                    Use it worldwide </h6>
                                                <div class="text">Our Card knows no borders. Use your card anywhere in the world – including ATMs.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/p5.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Track your expenses </h6>
                                                <div class="text">Get instant notifications, access transaction history and swap currencies anytime.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/p6.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Keep things tidy</h6>
                                                <div class="text">Manage your crypto balance and fiat currencies in one place, and exchange between accounts in seconds.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>

                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/p7.html' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Enhanced security</h6>
                                                <div class="text">Includes EMV chip and options to lock your card and control how you spend
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/icons/mitech-landing-theme-feature-05-68x68.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Get more with Cryptoback </h6>
                                                <div class="text">{{sitename}} Visa debit cardholders benefit from our unique Cryptoback™ rewards programme Earn 1.5% in Bitcoin every time you use your {{sitename}} Visa card to pay in shops restaurants, bars and on transport. All
                                                    BTC earned through Cryptoback™ can be instantly redeemed, converted and spent!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/icons/mitech-landing-theme-feature-06-68x68.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Flexibility</h6>
                                                <div class="text">Designed for people who want to live life on crypto. View your balance, request a new PIN, and reload instantly all within the {{sitename}} Fx App.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===========  feature-images-wrapper  End =============-->


        <!--========== Call to Action Area Start ============-->
        <div class="cta-image-area_one section-space--ptb_80 cta-bg-image_one">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-7">
                        <div class="cta-content md-text-center">
                            <h3 class="heading text-white">Assess your business potentials and find opportunities <span class="text-color-secondary">for bigger success</span></h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="cta-button-group--one text-center">
                            <a href="mailto:{{supportemail}}" class="btn btn--white btn-one"><span class="btn-icon mr-2"><i class="far fa-comment-alt-dots"></i></span> Let's talk</a>
                            <a href="mailto:{{supportemail}}" class="btn btn--secondary  btn-two"><span class="btn-icon mr-2"><i class="far fa-info-circle"></i></span> Get info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--========== Call to Action Area End ============-->








    </div>



{% endblock %}