{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">
                        <h1 class="breadcrumb-title text-color-primary">FREQUENTLY ASKED QUESTIONS</h1>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active">faqs</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div class="site-wrapper-reveal">


        <!--====================  Accordion area ====================-->
        <div class="accordion-wrapper section-space--ptb_100">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_20">
                            <h6 class="section-sub-title mb-20">FAQS</h6>
                            <h3 class="heading">Frequently asked questions</h3>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq-wrapper  section-space--mt_40">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                What is {{sitename}} ?<span> <i class="fas fa-chevron-down"></i>
                                            <i class="fas fa-chevron-up"></i> </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>{{sitename}} is a company that offers its clients a stake in a professionally managed and diversified investment portfolio. This portfolio is assembled by investing in four fields: Forex Markets, Bitcoin
                                                Mining, Venture Capital and the Digital Exchange.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Is {{sitename}} a registered and legal company ? <span> <i class="fas fa-chevron-down"></i>
                                            <i class="fas fa-chevron-up"></i> </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>This website is operated by {{sitename}}, registered in the Bohernabreena. County Dublin, Ireland.
</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                How to create account ?<span> <i class="fas fa-chevron-down"></i>
                                            <i class="fas fa-chevron-up"></i> </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>To create an account click the button "Backoffice" and pass the registration form. </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="faq_49">
                                        <h5 class="mb-0">
                                            <button class="collapsed" data-toggle="collapse" data-target="#faq_four9" aria-expanded="false" aria-controls="faq_four9">
                                                   What is the profitability of the program?<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                        </h5>
                                    </div>
                                    <div id="faq_four9" class="collapse" aria-labelledby="faq_49" data-parent="#faq-toggles">
                                        <div class="card-body">
                                            <p>Profitability depends on the investment plan you have chosen. We offer three groups of investment plans with different specialization and investment terms.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faq_48">
                                        <h5 class="mb-0">
                                            <button class="collapsed" data-toggle="collapse" data-target="#faq_four8" aria-expanded="false" aria-controls="faq_four8">
                                                   Are there any withdrawal limits?<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                        </h5>
                                    </div>
                                    <div id="faq_four8" class="collapse" aria-labelledby="faq_8" data-parent="#faq-toggles">
                                        <div class="card-body">
                                            <p>There is a condition that you can order for payment in cryptocurrency an amount that is equivalent to not less than $105.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faq_47">
                                        <h5 class="mb-0">
                                            <button class="collapsed" data-toggle="collapse" data-target="#faq_four7" aria-expanded="false" aria-controls="faq_four7">
                                                   Are there any commission fees or other additional payments related to the investment process or financial transactions?<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                        </h5>
                                    </div>
                                    <div id="faq_four7" class="collapse" aria-labelledby="faq_47" data-parent="#faq-toggles">
                                        <div class="card-body">
                                            <p>The program does not provide any commission fees, additional and / or hidden charges. You pay only the fees of electronic payment systems when making investments and withdrawing funds.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faq_46">
                                        <h5 class="mb-0">
                                            <button class="collapsed" data-toggle="collapse" data-target="#faq_four6" aria-expanded="false" aria-controls="faq_four6">
                                                   If I provided an inaccurate Bitcoin address or other payment details, how can I fix this?<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                        </h5>
                                    </div>
                                    <div id="faq_four6" class="collapse" aria-labelledby="faq_46" data-parent="#faq-toggles">
                                        <div class="card-body">
                                            <p>You can make such adjustments to your billing information in your personal account by contacting our livechat support</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!-- Start toggles -->
                        <div class="toggles-wrapper section-space--mt_40">
                            <div class="faq-wrapper">
                                <div id="faq-toggles">
                                    <div class="card">
                                        <div class="card-header" id="faq_2">
                                            <h5 class="mb-0">
                                                <button class="btn-link collapsed" data-toggle="collapse" data-target="#faq_two" aria-expanded="false" aria-controls="faq_two">
                                                    How to Invest?<span> <i class="fas fa-chevron-down"></i>
                                            <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="faq_two" class="collapse" aria-labelledby="faq_2">
                                            <div class="card-body">
                                                <p>To start a new investment cycle, log in go to your dashboard by clicking the “Dashboard” link in the top menu of the site. In the dashboard find the section called “Actions” and click the large button that
                                                    says “Deposit”. You will be redirected to the deposit creation page, where you will set up your profile </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="faq_3">
                                            <h5 class="mb-0">
                                                <button class="btn-link collapsed" data-toggle="collapse" data-target="#faq_three" aria-expanded="false" aria-controls="faq_three">
                                                    How does {{sitename}} earn income for investors? <span> <i class="fas fa-chevron-down"></i>
                                            <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="faq_three" class="collapse" aria-labelledby="faq_3">
                                            <div class="card-body">
                                                <p>We trade on cryptocurrency exchanges and participate in highly profitable investment transactions. {{sitename}} is a platform with automated elements of trading on cryptocurrency, asset management
                                                    based on advanced AI risk management, Blockchain technologies and protocol for fast orders delivery. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="faq_45">
                                            <h5 class="mb-0">
                                                <button class="collapsed" data-toggle="collapse" data-target="#faq_four5" aria-expanded="false" aria-controls="faq_four5">
                                                    How does the {{sitename}} card work<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="faq_four5" class="collapse" aria-labelledby="faq_45" data-parent="#faq-toggles">
                                            <div class="card-body">
                                                <p>Manage your crypto balance and fiat currencies in one place, and exchange between accounts in seconds. With {{sitename}} card you can make instant withdrawal from your account using any nearby atm
                                                    machine </p>
                                            </div>
                                        </div>
                                    </div>


                                   <!-- <div class="card">
                                        <div class="card-header" id="faq_4556">
                                            <h5 class="mb-0">
                                                <button class="collapsed" data-toggle="collapse" data-target="#faq_four5006" aria-expanded="false" aria-controls="faq_four5006">
                                                    What is Level 1 Account<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="faq_four5006" class="collapse" aria-labelledby="faq_4556" data-parent="#faq-toggles">
                                            <div class="card-body">
                                                <p>Level 1 Account is a regular type of {{sitename}} account with no paper validations and upgrades <br>


                                                </p>
                                                <b>Features</b>
                                                <hr>

                                                <ul>
                                                    <li>Instant Deposit</li>
                                                    <li>Instant Withdrawal (0-60 Minutes payment window )</li>
                                                    <li>Minimum withdrawal: $10.00</li>
                                                    <li>Minimum withdrawal: Unlimited</li>
                                                    <li>Withdrawal Fee: determined by bitcoin blockchain network</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>-->








                                   <!-- <div class="card">
                                        <div class="card-header" id="faq_450">
                                            <h5 class="mb-0">
                                                <button class="collapsed" data-toggle="collapse" data-target="#faq_four50" aria-expanded="false" aria-controls="faq_four50">
                                                    What is VL1 Account<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="faq_four50" class="collapse" aria-labelledby="faq_450" data-parent="#faq-toggles">
                                            <div class="card-body">
                                                <p>Verified Level 1 Account is a type of {{sitename}} account that which have successfully been verified but yet to reach the Vip Credit Score.
                                                </p>
                                                <b>Features</b>
                                                <hr>
                                                <ul>
                                                    <li>Instant Deposit</li>
                                                    <li>Instant Withdrawal (0-30 Minutes payment window )</li>
                                                    <li>Minimum withdrawal: $5.00</li>
                                                    <li>Minimum withdrawal: Unlimited</li>
                                                    <li>Withdrawal Fee: No Fees</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>-->



                                  <!--  <div class="card">
                                        <div class="card-header" id="faq_455">
                                            <h5 class="mb-0">
                                                <button class="collapsed" data-toggle="collapse" data-target="#faq_four500" aria-expanded="false" aria-controls="faq_four500">
                                                    What is VVIP Account<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="faq_four500" class="collapse" aria-labelledby="faq_455" data-parent="#faq-toggles">
                                            <div class="card-body">
                                                <p>Verified Level 2 Account is a type of {{sitename}} account that which have successfully reached the Vip Level. <br> Investors gets this badge based on their account performance, activities and reputation.
                                                    Advanced level Vip account provide investors with benefits <br>

                                                    <br>


                                                </p>
                                                <b>Features</b>
                                                <hr>
                                                <ul>
                                                    <li>Instant Deposit</li>
                                                    <li>Instant Withdrawal (0-3 Minutes payment window )</li>
                                                    <li>Debit Card Delivery to your country (99.9% Discounted shipping fee)</li>
                                                    <li>Credit Card Withdrawal </li>
                                                    <li>Company News Update </li>
                                                    <li>Withdrawal Fee: No Fees</li>
                                                    <li></li>
                                                </ul>


                                            </div>
                                        </div>
                                    </div>-->




                                    <div class="card">
                                        <div class="card-header" id="faq_4555">
                                            <h5 class="mb-0">
                                                <button class="collapsed" data-toggle="collapse" data-target="#faq_four5000" aria-expanded="false" aria-controls="faq_four5000">
                                                   I met all the requirements, but haven't been promoted. Why?<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="faq_four5000" class="collapse" aria-labelledby="faq_4555" data-parent="#faq-toggles">
                                            <div class="card-body">
                                                <p>Have you met all the requirements and still haven't been promoted? Not to worry, you can check your account's status to see what happened by sending a request to our support team.






                                                </p>
                                            </div>
                                        </div>
                                    </div>






                                    <div class="card">
                                        <div class="card-header" id="faq_44">
                                            <h5 class="mb-0">
                                                <button class="collapsed" data-toggle="collapse" data-target="#faq_four4" aria-expanded="false" aria-controls="faq_four4">
                                                   Is it possible to change the email which was specified during registration?<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="faq_four4" class="collapse" aria-labelledby="faq_44" data-parent="#faq-toggles">
                                            <div class="card-body">
                                                <p>Yes, it is. You need to contact the company’s support department. this purpose is not automatic because of security reasons</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="card">
                                        <div class="card-header" id="faq_43">
                                            <h5 class="mb-0">
                                                <button class="collapsed" data-toggle="collapse" data-target="#faq_four3" aria-expanded="false" aria-controls="faq_four3">
                                                   If I forgot my password, how can I recover it?<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="faq_four3" class="collapse" aria-labelledby="faq_43" data-parent="#faq-toggles">
                                            <div class="card-body">
                                                <p>To restore the lost authorization data on our program’s website, use the <a href="indexa51c.html?a=recover">"Recover password"</a> link from the company's official website.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="faq_42">
                                            <h5 class="mb-0">
                                                <button class="collapsed" data-toggle="collapse" data-target="#faq_four2" aria-expanded="false" aria-controls="faq_four2">
                                                   Can I get referral fees without having my own deposit in the program?<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="faq_four2" class="collapse" aria-labelledby="faq_42" data-parent="#faq-toggles">
                                            <div class="card-body">
                                                <p>Yes, you can.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="faq_41">
                                            <h5 class="mb-0">
                                                <button class="collapsed" data-toggle="collapse" data-target="#faq_four1" aria-expanded="false" aria-controls="faq_four">
                                                   Attention<span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="faq_four1" class="collapse" aria-labelledby="faq_41" data-parent="#faq-toggles">
                                            <div class="card-body">
                                                <p>The processing time of any transaction performed (changing the referral rank, displaying a new deposit, accruing a referral bonus, saving / changing personal data, etc.) takes up to 5 minutes.</p>
                                            </div>
                                        </div>
                                    </div>









                                </div>
                            </div>
                        </div>
                        <!-- End toggles -->
                    </div>
                </div>
            </div>
        </div>
        <!--====================  Accordion area  ====================-->


    </div>
{% endblock %}