{% extends 'base.html' %}
{% load static %}
{% block title %}FAQ{% endblock %}
{% block content %}
 <section class="banner-area">
            <div class="banner-overlay">
                <div class="banner-text text-center">
                    <div class="container">
                        <!-- Section Title Starts -->
                        <div class="row text-center">
                            <div class="col-xs-12">
                                <!-- Title Starts -->
                                <h2 class="title-head">Frequently Asked Questions </h2>
                                <!-- Title Ends -->
                                <hr>
                                <!-- Breadcrumb Starts -->
                                <ul class="breadcrumb">
                                    <li><a href="{% url 'index' %}"> home</a></li>
                                    <li>FAQ</li>
                                </ul>
                                <!-- Breadcrumb Ends -->
                            </div>
                        </div>
                        <!-- Section Title Ends -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Area Starts -->
        <!-- FAQ Area Starts -->
        <section class="faq-page">
        	<div class="container">
        		<div class="row faq-content">
        			<div class="col-sm-12">
        				<p>

Q. What is COINFACE? <br/>
A. COINFACE - is a smart cloud mining and trading service developed for affordable cryptocurrencies mining and Forex trading, designed
   to provide frequent payouts within the shortest possible timeframe.<br/><br/>

Q. What is cryptocurrency?<br/>
A. Cryptocurrency (or crypto currency) is a digital asset designed to work as a medium of exchange using cryptography to secure the transactions and to control the creation of additional units of the currency. Cryptocurrencies are classified as a subset of digital currencies and are also classified as a subset of alternative currencies and virtual currencies.<br/><br/>

Q. Why should I invest with COINFACE?<br/>
A. COINFACE provides you a way to tap into the successful trading systems and therefore allowing you to diversify your trading portfolio whether you're an experienced trader or a newbie.<br/><br/>

Q. How do I earn money by investing?<br/>
A. You are purchasing mining contracts based on mining hardware efficiency and costs. You will be receiving returns on weekly/monthly basis depending on amount of your contract.<br/><br/>

Q. What influences my payouts?<br/>
A. Your payouts depends on the market price of Bitcoin and difficulty of mining and trading, as you will be receiving fixed payouts in Bitcoin.<br/><br/>

Q. What are the conditions for profit withdrawal?<br/>
A. There are no conditions for withdrawal, however it is allowed to make 1 withdrawal per week.
<br/><br/>
Q. How long does it take to withdraw Bitcoin from my COINFACE Account?<br/>
A. Under normal circumstances, it can take up to 24 hours to process a Withdrawal as all user requests are audited for security purposes.<br/><br/>

Q. Why up to 24 hours?<br/>
A. Withdrawal requests are processed during our office hours of between 09:00 - 17:00 GMT, Monday - Friday. Since Withdrawal Requests are queued for manual processing from when we receive them, there is no set time. In reality our team will bulk process requests several times a day, and more often than not, out of normal office hours; evenings and weekends.
We stipulate that they will be processed within a period of 24 hours, taking into consideration time-zone differences for our clients globally.<br/><br/>

Q. Can i withdraw my initial capital?<br/>
A. No, you can't withdraw initial capital within the investment contract; it will be released to you after 6 months (180 days). At the end of the investment contract of (6months) your initial capital can be withdrawn, after a 1.5% tax/closing/maintenance fees has been deducted. If an investor choose to close down account within the 6month lifetime, a two weeks notice should be given to the account manager, a 2% penalty is deducted and account will be closed in 72hours.
<br/><br/>
Q. How much profit do we earn with this program?<br/>
A. Up to 8% or 10% weekly for Bitcoin mining and up to 45% or 55% monthly profits for the Forex investment; depending on the contract package the individuals choose to buy into.
<br/><br/>
Q. Are the deposits and withdrawals done in BTC or fiat?<br/>
A. All transactions are done in BTC,ETH,LTC and BTCH mainly. But the profits are valued and calculated based on fiat rate, not the cryptos.<br/><br/>

Q. I don't want to withdraw weekly, can i compound?<br/>
A. Yes, you can compound on investments above $10,000. When you decide to compound, We will amend the contract previously signed and new contract/extension is signed, your weekly investment progress will be held for 4 weeks(1 month) and the accumulation is added to your existing investment. Your investment is held for 6months and payout is locked for that duration. For amounts below $10,000, there is no option yet for compounding.<br/><br/>

Q. Is the profit guaranteed?<br/>
A. Yes, it is.<br/><br/>

Q. Can i have more than one contract running?<br/>
A. Yes, you can simply create a separate account with a new registration email.<br/><br/>

Q. Is there any minimum purchase amount?<br/>
A. YES. $2,500 minimum for BTC Plan 1; $15,000 minimum for BTC Plan 2; and $101,000 minimum for BTC Plan 3.<br/>
$5,000 minimum for Forex Basic Plan, $70,000 minimum for Forex Elite Plan, $150,000 minimum for Forex Corporate Plan
( We value all crypto currencies sent in USD)
<br/><br/>
Q.Is there any minimum withdrawal amount?<br/>
A. Minimum withdrawal amount is equivalent to $500 in contract currency.<br/><br/>
Q. Can I make additional deposits to my COINFACE Account?<br/>
A. Yes, investment top-ups are allowed.<br/><br/>
Q. Why reinvesting your mining/trading profit is a smart way?<br/>
A. As you will be getting weekly/monthly return payouts, you will be able to reinvest your returns in order to increase the size of your investment and of course to increase your further returns. This is how you can maximize your returns without buying additional contracts.
<br/><br/>
Q. Does my account automatically upgrade to next package as i compound or make additional deposits?<br/>
A. Yes, we will prompt an automatic update.<br/><br/>

Q. How do I get started?<br/>
A. We recommend that you get yourself familiar with the COINFACE system and connect with any of our Account managers. Once you're ready to open an account, simply register with one of our supported managers - once the account is funded and approved, trading commences within two business days.<br/><br/>

Q. What is the fee for using COINFACE?<br/>
A. It depends on the account - there is a small markup spread, different percentage (%) fees for the different investment plans(this is due to difference in spreads).
If you're wondering why similar services claim to be free, then that's because they hide the cost in fine print.
<br/><br/>
</p>
        			</div>
        		</div>
        	</div>
        </section>


        <!-- Call To Action Section Starts -->
      <section class="call-action-all">
        <div class="call-action-all-overlay">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <!-- Call To Action Text Starts -->
                <div class="action-text">
                  <h2>Join Other Registered Users</h2>
                  <p class="lead">Open account today and start trading!</p>
                </div>
                <!-- Call To Action Text Ends -->
                <!-- Call To Action Button Starts -->
                <p class="action-btn">

                    <a  href="{% url 'register' %}" class="btn btn-primary">Register Now</a>

                <!-- Call To Action Button Ends -->
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}