{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">

                        <h1 class="breadcrumb-title text-color-primary">LOAN</h1>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Investors</a></li>
                            <li class="breadcrumb-item active">Loan</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div class="site-wrapper-reveal">


        <!--====================  Blog Area Start ====================-->
        <div class="blog-pages-wrapper section-space--ptb_100">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 order-lg-1 order-2">
                        <div class="page-sidebar-content-wrapper page-sidebar-left  small-mt__40 tablet-mt__40">

                            <img class="img-fluid" src="{% static 'assets2/images/hero/home-infotechno-main-slider-slide-01-image-02.png' %}" alt="Blog Images">
                            <br><br><br><br>
                            <hr>
                            <img class="img-fluid" src="{% static 'gif/gif1.gif' %}" alt="Blog Images">


                        </div>
                    </div>
                    <div class="col-lg-8 order-lg-2 order-1">
                        <div class="main-blog-wrap">
                            <!--======= Single Blog Item Start ========-->
                            <div class="single-blog-item">
                                <!-- Post Feature Start -->
                                <div class="post-feature blog-thumbnail wow move-up">
                                    <img class="img-fluid" src="{% static 'assets2/images/loan.png' %}" alt="Blog Images">
                                </div>
                                <!-- Post Feature End -->

                                <!-- Post info Start -->
                                <div class="post-info lg-blog-post-info  wow move-up">


                                    <h3 class="post-title">HOW THE SYSTEM WORKS?</h3>



                                    <div class="post-excerpt mt-15">


                                        <p>Getting a loan with us is easy and simple. Loans is available only for fully verified Vip members.</p>

                                        <p>5% Insurance fee is paid once loan is approved before any further transaction. Withdrawals are instants once insurance process is completed </p>
                                        <p>15% Interest is added upon loan payback.</p>







                                        <p>Below you'll find a brief demonstration of how we can manage to support consistent daily returns without losing financial balance. Main emphasis was placed on data / funds flow efficiency derived from OTC brokers
                                            profits against members returns priorities.</p>

                                        <blockquote>
                                            <p class="p1">
                                                <b>
                                                  DATA FLOW MECHANISM  
                                                </b>
                                                <br> The diagram below shows the internal logistics of our app. We've configured it to divide members into priority classes based on their loan placement time (crossing BEP on 22nd day requires more resources).</p>
                                        </blockquote>


                                        <img class="img-fluid avatar-96" src="{% static 'assets2/images/loan2.png' %}" alt="">




                                        <br>
                                        <blockquote>
                                            <p class="p1">
                                                <b>
                                                  FUNDS FLOW
MECHANISM 
                                                </b>
                                                <br> The diagram on the right shows how {{sitename}} platform mediates external funds between us, our members and {{sitename}} brokers / traders. {{sitename}} is highlighted in the middle - it
                                                acts as a central processing unit (internal logistics are shown on the diagram above).</p>
                                        </blockquote>

                                        <img class="img-fluid avatar-96" src="{% static 'assets2/images/loan4.png' %}" alt="">
                                        <br>


                                        <br><br>


                                        <p>APP's goal is to control operational priorities such as: risk assessment, timely returns on loans, allocation of profits from partners, and more.

                                        </p>




                                        <div class="entry-author">
                                            <div class="author-info">
                                                <div class="author-avatar">
                                                    <img src="{% static 'assets2/images/team/avatar-06-90x90.jpg' %}" alt="">

                                                </div>
                                                <div class="author-description">
                                                    <h6 class="author-name">{{sitename}} Team</h6>

                                                    <div class="author-biographical-info">
                                                        CEO: Alejandro Torres

Alejandro Torres, the Visionary Leader of {{sitename}}

Alejandro Torres, a passionate individual with a deep interest in finance and cryptocurrencies, serves as the CEO of {{sitename}}, a prominent broker's company based in Spain. With his extensive experience in the broker's world and strategic vision, Alejandro has propelled {{sitename}} to become a leading player in the field of cryptocurrency trading / investments.

From an early age, Alejandro exhibited a keen interest in trading and disruptive technologies. He began his career as a financial analyst at a renowned investment firm, where he gained profound insights into traditional financial markets. However, his true drive came when he discovered the revolutionary potential of cryptocurrencies and blockchain technology.

With a clear vision of the future of finance and a deep understanding of the underlying technology, Alejandro decided to establish {{sitename}} in 2013. His goal was to provide investors with a secure and reliable platform to invest in cryptocurrencies while staying ahead of the latest trends and advancements in the market.

Under Alejandro's leadership, {{sitename}} has experienced exponential growth and has established itself as a top cryptocurrency investment company in Spain. His customer-centric approach and commitment to transparency have earned the trust of numerous investors who value the security and performance of their broker.

In addition to his role at {{sitename}}, Alejandro is an enthusiastic advocate for financial education and the mass adoption of cryptocurrencies. He has participated as a speaker at various international conferences, sharing his experiences and knowledge with other industry professionals. His vision is that cryptocurrencies and blockchain technology will transform the way we transact and manage our finances in the future.

Secretary: Gabriela López

Gabriela López, the Driving Force behind {{sitename}}'s Success

Gabriela López is a dedicated and highly skilled professional serving as the executive secretary at {{sitename}}. With her commitment and organizational abilities, Gabriela plays a pivotal role in ensuring the efficient functioning of the company and is an integral part of the management team.

With a strong background in business administration and extensive experience in the financial sector, Gabriela brings a unique combination of technical expertise and interpersonal skills to her role as an executive secretary. She is responsible for coordinating internal and external communications, scheduling meetings, managing correspondence, and ensuring smooth day-to-day operations.

Gabriela's work ethic and professionalism are admired by her colleagues and peers. Her ability to multitask, attention to detail, and positive attitude have contributed to the success of {{sitename}}. Gabriela also demonstrates great adaptability and resilience in a fast-paced environment, ensuring that the company's operations run smoothly and efficiently.

With Alejandro Torres at the helm as CEO and Gabriela López as the dedicated secretary, {{sitename}} continues to thrive as a leading investment company in the ever-evolving world of cryptocurrencies. Their combined expertise, passion for innovation, and commitment to client satisfaction position the company for continued success in the dynamic realm of digital investments.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                <!-- Post info End -->
                            </div>
                            <!--===== Single Blog Item End =========-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  Blog Area End  ====================-->








        <!--========== Call to Action Area Start ============-->
        <div class="cta-image-area_one section-space--ptb_80 cta-bg-image_one">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-7">
                        <div class="cta-content md-text-center">
                            <h3 class="heading text-white">Assess your business potentials and find opportunities <span class="text-color-secondary">for bigger success</span></h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="cta-button-group--one text-center">
                            <a href="#" class="btn btn--white btn-one"><span class="btn-icon mr-2"><i class="far fa-comment-alt-dots"></i></span> Let's talk</a>
                            <a href="#" class="btn btn--secondary  btn-two"><span class="btn-icon mr-2"><i class="far fa-info-circle"></i></span> Get info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--========== Call to Action Area End ============-->

    </div>

{% endblock %}


