{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block extrastyle %}
<style>
.form-container{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(45, 45, 45, 0.476);
}
@media screen and (max-width: 600px) {
    .form-container{
        width: 90%;
        padding: 10px 15px;
    }
}

</style>
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-container">
            
            <h4 class="text-center">Login</h4>
            <span class="error-text">{{form.non_field_errors|default:""}}</span>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Your Email" required>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input
                  class="form-control"
                  id="password"
                  type="password"
                  name="password"
                  placeholder="Password"
                  required
                />
              </div>
              <div class="form-group">
                <button type="submit"  class="btn btn-primary btn-block">
                  Login
                </button>
                <br>
                <p class="text-center">
                  Don't have an account ?
                  <a href="{% url 'register' %}">register now</a>
                <br>
                  Forgot your password?
                  <a href="{% url 'password-reset' %}">Click here</a>
                </p>
              </div>
        </div>
    </form>
</div>
{% endblock %}