{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">

                        <h1 class="breadcrumb-title text-color-primary">INVESTMENT PLANS</h1>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Investment PLans</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div class="site-wrapper-reveal">

 <!--========= Pricing Table Area Start ==========-->
    <div class="pricing-table-area section-space--ptb_100 bg-gCointrade">
        <div class="pricing-table-title-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrapper text-center section-space--mb_40 wow move-up">
                            <h6 class="section-sub-title mb-20">Link your account to broker and Start Earning with a click</h6>
                            <h3 class="section-title">TRADING PLANS </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing-table-content-area">
            <div class="container">
<!-- 
                <div class="row">
                    <div class="col-12 text-center wow move-up">
                        <ul class="nav justify-content-center ht-plans-menu  section-space--mb_60" role="tablist">
                            <li class="tab__item nav-item active ">
                                <a class="nav-link active" data-toggle="tab" href="#month-tab" role="tab" aria-selected="true">Investment Plans</a>
                            </li>
                            <li class="tab__item nav-item ">
                                <a class="nav-link" data-toggle="tab" href="#year-tab" role="tab" aria-selected="false">Other Offers</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
 
  <div class="row pricing-table-two">
                    {% for plan in plans %}
                    <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table wow move-up">
                        <div class="pricing-table__inner">
                            <div class="pricing-table__header">
                                <h5 class="pricing-table__title">{{plan.name}}</h5>

                                <div class="pricing-table__price-wrap">
                                    <h3="center">{{plan.interest}}%</h3>
                                    <h6 class="currency">For {{plan.period}} Days</h6>
                                    <h6 class="period">{{plan.period}} Days</h6>
                                    <h6 class="period">Daily Interest Return</h>
                                    <h6 class="interest">Capital Will Return Back</h6>
                                    <h6 class="referral">10% Referral Bonus</h6>
                                    <h6 class="period">Leverage{{plan.leverage}}%</h6>
				    <h6 class="period">investment commission {{plan.leverage}} %</h6>
                                </div>
                            </div>
                            <div class="pricing-table__body">
                                <ul class="pricing-table__list">
                                    <li>Minimum Investment Amount: ${{plan.amount}} </li>
                                    
                                    <li>Quality &amp; Get started with 👇</li>
                                    <li><span class="featured" style="color:green;"><i class='fas fa-info-circle' style="color:green;"></i> No Withdrawal Charges!</span></li>
                                    
                                    <li><span class="featured" style="color: green;"><i class='fas fa-info-circle' style="color:green;"></i>SUBSCRIBE and connect your account on⬇️⏬</span></li>
                                </ul>
                            </div>
                            <div class="pricing-table__footer">
                                <a href="{% url 'register' %}" class="ht-btn ht-btn-default btn--secondary">NAXTRUST</a>
                                <a href="{% url 'register' %}" class="ht-btn ht-btn-default btn--secondary">BINANCE</a>
                                <a href="{% url 'register' %}" class="ht-btn ht-btn-default btn--secondary">METATRADER4</a>
                                <a href="{% url 'register' %}" class="ht-btn ht-btn-default btn--secondary">TRADING VIEW</a>
                                <a href="{% url 'register' %}" class="ht-btn ht-btn-default btn--secondary">OTHER BROKERS</a>
				    
                            </div>
                        </div>
                    </div>
                    {% endfor %}
           
            

                </div>

            </div>
        </div>
    </div>
    <!--========= Pricing Table Area End ==========-->



    </div>
{% endblock %}
