{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="banner-area">
  <div class="banner-overlay">
    <div class="banner-text text-center">
      <div class="container">
        <!-- Section Title Starts -->
        <div class="row text-center">
          <div class="col-xs-12">
            <!-- Title Starts -->
            <h2 class="title-head">Suitable <span>Plans</span></h2>
            <!-- Title Ends -->
            <hr>
          </div>
        </div>
        <!-- Section Title Ends -->
      </div>
    </div>
  </div>
</section>
<!-- Banner Area Ends -->
<!-- Pricing Starts -->
<section class="pricing">
  <div class="container">
    <!-- Section Content Starts -->
    <h3 class="text-center">Select A Trading PLan</h3>
    <div class="row pricing-tables-content pricing-page">
      <div class="pricing-container">
        <ul class="pricing-list bounce-invert">
                              <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="pricing-wrapper">
              <!-- Buy Pricing Table #1 Starts -->
              <li data-type="buy" class="is-visible">
                <header class="pricing-header"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                  <h2>BITCOIN Mini PLAN 1</h2>
                  <h4>Weekly Interest - 10%</h4>
                  <h4>Investment Sum - $250</h4>
                  <h4>Trading / Withdrawal Commission - 10%</h4>
                  <h4>Referral Bonus - 7%</h4>
                  <div class="price">
                    <span class="currency"><i class="fa fa-dollar"></i></span>
                    <span class="value">500+</span>
                  </div>
                </header>
                <footer class="pricing-footer">
               <a href="{% url 'register' %}" class="btn btn-primary">Order Now</a>
                </footer>
              </li>
            </ul>
          </li>
        <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="pricing-wrapper">
              <!-- Buy Pricing Table #1 Starts -->
              <li data-type="buy" class="is-visible">
                <header class="pricing-header"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                  <h2>BITCOIN Mini PLAN 2</h2>
                  <h4>Weekly Interest - 12%</h4>
                  <h4>Investment Sum - $10,000</h4>
                  <h4>Trading / Withdrawal Commission - 15%</h4>
                  <h4>Referral Bonus - 8%</h4>
                  <div class="price">
                    <span class="currency"><i class="fa fa-dollar"></i></span>
                    <span class="value">10,000+</span>
                  </div>
                </header>
                <footer class="pricing-footer">
                 <a href="{% url 'register' %}" class="btn btn-primary">Order Now</a>
                </footer>
              </li>
            </ul>
          </li>
        <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="pricing-wrapper">
              <!-- Buy Pricing Table #1 Starts -->
              <li data-type="buy" class="is-visible">
                <header class="pricing-header"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                  <h2>BITCOIN FX SILVER PLAN</h2>
                  <h4>Weekly Interest - 15%</h4>
                  <h4>Investment Sum - $20,000</h4>
                  <h4>Trading / Withdrawal Commission - 15%</h4>
                  <h4>Referral Bonus - 10%</h4>
                  <div class="price">
                    <span class="currency"><i class="fa fa-dollar"></i></span>
                    <span class="value">20,000+</span>
                  </div>
                </header>
                <footer class="pricing-footer">
                 <a href="{% url 'register' %}" class="btn btn-primary">Order Now</a>
                </footer>
              </li>
            </ul>
          </li>
                                        <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="pricing-wrapper">
              <!-- Buy Pricing Table #1 Starts -->
              <li data-type="buy" class="is-visible">
                <header class="pricing-header">
                  <h2>BITCOIN FX GOLD PLAN</h2>
                  <h4>Weekly Interest - 18%</h4>
                  <h4>Investment Sum - $30,000</h4>
                  <h4>Trading / Withdrawal Commission - 20%</h4>
                  <h4>Referral Bonus - 10%</h4>
                  <div class="price">
                    <span class="currency"><i class="fa fa-dollar"></i></span>
                    <span class="value">30,000+</span>
                  </div>
                </header>
                <footer class="pricing-footer">
                <a href="{% url 'register' %}" class="btn btn-primary">Order Now</a>
                </footer>
              </li>
            </ul>
          </li>
                                        <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="pricing-wrapper">
              <!-- Buy Pricing Table #1 Starts -->
              <li data-type="buy" class="is-visible">
                <header class="pricing-header">
                  <h2>PLATINUM ELITE PLAN</h2>
                  <h4>Weekly Interest - 20%</h4>
                  <h4>Investment Sum - $40,000</h4>
                  <h4>Trading / Withdrawal Commission - 20%</h4>
                  <h4>Referral Bonus - 10%</h4>
                  <div class="price">
                    <span class="currency"><i class="fa fa-dollar"></i></span>
                    <span class="value">40,000+</span>
                  </div>
                </header>
                <footer class="pricing-footer">
                  
                    <a href="{% url 'register' %}" class="btn btn-primary">Order Now</a>
                  
                </footer>
              </li>
            </ul>
          </li>
                                        <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="pricing-wrapper">
              <!-- Buy Pricing Table #1 Starts -->
              <li data-type="buy" class="is-visible">
                <header class="pricing-header">
                  <h2>PLANTINUM CORPORATE PLAN</h2>
                  <h4>Weekly Interest -  25%</h4>
                  <h4>Investment Sum - $50,000</h4>
                  <h4>Trading / Withdrawal Commission -  25%</h4>
                  <h4>Referral Bonus - 10%</h4>
                  <div class="price">
                    <span class="currency"><i class="fa fa-dollar"></i></span>
                    <span class="value">50,000+</span>
                  </div>
                </header>
                <footer class="pricing-footer">
                  <a href="{% url 'register' %}" class="btn btn-primary">Order Now</a>
                </footer>
              </li>
            </ul>
          </li>
                            </ul>

      </div>
    </div>

  </div>
</section>
<!-- Pricing Ends -->


        <!-- Call To Action Section Starts -->
      <section class="call-action-all">
        <div class="call-action-all-overlay">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <!-- Call To Action Text Starts -->
                <div class="action-text">
                  <h2>Join Other Registered Users</h2>
                  <p class="lead">Open account today and start trading!</p>
                </div>
                <!-- Call To Action Text Ends -->
                <!-- Call To Action Button Starts -->
                <p class="action-btn">

                    <a  href="{% url 'register' %}" class="btn btn-primary">Register Now</a>

                <!-- Call To Action Button Ends -->
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}