{% extends 'base.html' %}
{% load static %}
{% block title %}Pricing{% endblock %}
{% block content %}
<section class="banner-area">
  <div class="banner-overlay">
    <div class="banner-text text-center">
      <div class="container">
        <!-- Section Title Starts -->
        <div class="row text-center">
          <div class="col-xs-12">
            <!-- Title Starts -->
            <h2 class="title-head">Suitable <span>Plans</span></h2>
            <!-- Title Ends -->
            <hr>
          </div>
        </div>
        <!-- Section Title Ends -->
      </div>
    </div>
  </div>
</section>
<!-- Banner Area Ends -->
<!-- Pricing Starts -->
<section class="pricing">
  <div class="container">
    <!-- Section Content Starts -->
    <h3 class="text-center">Select A Trading PLan</h3>
    <div class="row pricing-tables-content pricing-page">
      <div class="pricing-container">
        <ul class="pricing-list bounce-invert">
          {% for plan in plans %}
          <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="pricing-wrapper">
              <!-- Buy Pricing Table #1 Starts -->
              <li data-type="buy" class="is-visible">
                <header class="pricing-header">
                  <h2>{{plan.name}}</h2>
                  <h4>{{plan.period}} - Day Interest - {{plan.interest}}</h4>
                  <h4>Investment Sum - ${{plan.amount}}</h4>
                  <h4>Leverage - {{plan.leverage}}</h4>
                  <h4>Trading / Withdrawal Commisssion - {{plan.commission}}%</h4>
                  <!-- <h4>Referral Bonus - 7%</h4> -->
                  <div class="price">
                    <span class="currency"><i class="fa fa-dollar"></i></span>
                    <span class="value">{{plan.amount}}+</span>
                  </div>
                </header>
                <footer class="pricing-footer">
              <a href="{% url 'register' %}" class="btn btn-primary">Order Now</a>
                </footer>
              </li>
            </ul>
          </li>
          {% endfor %}
      </ul>

      </div>
    </div>

  </div>
</section>
<!-- Pricing Ends -->


        <!-- Call To Action Section Starts -->
      <section class="call-action-all">
        <div class="call-action-all-overlay">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <!-- Call To Action Text Starts -->
                <div class="action-text">
                  <h2>Join Other Registered Users</h2>
                  <p class="lead">Open account today and start trading!</p>
                </div>
                <!-- Call To Action Text Ends -->
                <!-- Call To Action Button Starts -->
                <p class="action-btn">

                    <a  href="{% url 'register' %}" class="btn btn-primary">Register Now</a>

                <!-- Call To Action Button Ends -->
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}