{% extends "base.html" %}
{% load static %}
{% block content %}

  <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">
                        <h1 class="breadcrumb-title text-color-primary">RULES</h1>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            
                            <li class="breadcrumb-item active">rules</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div class="site-wrapper-reveal">



        <!--======== careers-experts Start ==========-->
        <div class="careers-experts-wrapper section-space--pt_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 ml-auto mr-auto">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_30">
                            <h3 class="heading"><span class="text-color-primary"> RULES</span></h3>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="ht-simple-job-listing move-up animate">
                            <div clas="list">
                                <div class="item">
                                    <div class="row">


                                        <div class="col-md-12">
                                            <div class="job-description">



                                                <p class="sp__desc">These Terms of Service (hereinafter referred to as the Rules) in the form of a public offer are concluded between {{sitename}}, a company located in Bohernabreena. County Dublin, Ireland.
                                                    and a capable individual who has reached the age of 18 years (hereinafter referred to as the Client) and who fully exclude otherwise the interpretation shall govern all relations between the Company
                                                    and the Client (hereinafter referred to as the Parties) that arise or may arise as a result of the creation by the Client of a Personal Account on the Company's website www.{{sitename}} (hereinafter
                                                    the Site).</p>

                                                <p class="sp__desc">Personal account - the area of &#8203;&#8203;the Site formed using the software, access to which is possible only after the Customer has completed the registration procedure on the Site. To use a Personal
                                                    Account, authorization data is required.<br> Authorization data - email and password that the Client creates independently.</p>

                                                <p class="sp__desc">Authorization Data Requirements:</p>

                                                <ul>
                                                    <li>Uniqueness of the email;</li>
                                                    <li>The complexity of the password created, which should be a sequence of randomly selected letters from both registers of the keyboard, numbers, and symbols.</li>
                                                </ul>

                                                <p class="sp__desc">The Client confirms that the safety of Authorization Data in the security and inaccessibility of third parties is solely his personal responsibility. The Client confirms that in the event of the loss of
                                                    Authorization Data, it was explained to him that no one can help the Client restore the Authorization Data, except for himself. The client is entitled to create multiple accounts for active investments.</p>

                                                <p class="sp__desc">Investing is carried out exclusively with the help of electronic payment systems available for this process. At the moment, the Client can use one or all of the following electronic payment systems: Bitcoin, Litecoin and Ethereum.</p>

                                                <p class="sp__desc">The Client confirms that he invests voluntarily and doesn't rely on the information and / or opinions posted on the Site.<br> The Company confirms its full readiness to fulfill all the declared obligations
                                                    in terms of the promised profitability for its investment offers posted on the Investors website section.</p>

                                                <p class="sp__desc">The Client has the right to create an unlimited number of any deposits on any or all of the Company's investment plans.<br> The Client has the right to profit on all deposits made by him that are active
                                                    at a given time.</p>

                                                <p class="sp__desc">The Company undertakes to provide the above-mentioned profit for the Client in accordance with investment proposals.<br> Profit is accrued both on calendar days and business days, if this is provided for
                                                    by this specific investment proposal of the Company.</p>

                                                <p class="sp__desc">Payment of funds both for investment offers and for partner fees is carried out daily <br> Payout schedule - semi-automatic processing of any request for payment of funds up to 48 hours.<br>                                                    The Company reserves the right to periodically selectively make certain requests for payment of funds for verification before these funds are paid to the Client. Such a check may last more than 48 hours,
                                                    but not more than 72 hours.</p>

                                                <p class="sp__desc">The Client undertakes to personally create requests for payment of any available funds for withdrawal.<br> The Client confirms that the payment details provided are correct.<br> If payment is not possible
                                                    due to incorrectly specified payment details or due to their absence, the Client confirms and agrees that this is not the fault of the Company.</p>

                                                <p class="sp__desc">The Client undertakes to independently monitor and make timely adjustments to his payment details with the support of the Company.</p>

                                                <p class="sp__desc">Affiliate fees for deposits made by the referrals of the Client are available for payment in the presence of a personal deposit of the Client.<br> The affiliate structure of the Client, the levels of affiliate
                                                    structure, the amount of affiliate rewards, as well as the Referral status of the Client are regulated by the “Partners” section, which, like all other sections of the Site without exception, is an integral
                                                    part of these Rules.<br> The company guarantees stable accruals and payments for all of its investment offers, except the following reasons and circumstances:</p>

                                                <ul>
                                                    <li>Violation of these Rules by the Client ;</li>
                                                    <li>Creation of circumstances that make it impossible for the Company to fulfill its obligations. For example, but not limited to: force majeure circumstances;</li>
                                                    <li>Abduction of the Client in activities that violate these Rules, internal laws of the country of residence of the Client, as well as international law.</li>
                                                </ul>

                                                <p class="sp__desc">The Company guarantees a profit, if the Client follows with these Rules and does not use spam, as well as virus and malware programs in its cooperation with the Company, which could negatively affect the
                                                    integrity and / or performance of the Site and the entire system as a whole.</p>

                                                <p class="sp__desc">All disputes are resolved by the negotiation process until a full settlement and without the intervention of third parties.</p>

                                                <p class="sp__desc">All changes, additions and / or updates both in these Rules and in all sections of the Site are accepted by the Client automatically if, at the time of such updates, changes and / or additions, the Client
                                                    continued to use the Site.</p>

                                                <p class="sp__desc">The Parties confirm that these Rules establish the process of interaction between the Parties as a private transaction and the details of the interaction of the Parties cannot be disclosed to third parties.
                                                    Any disclosure by any Party will be considered a violation of these Rules and will lead the state of interaction to the original, without restoring all previous obligations and / or agreements.</p>


                                                <!-- end single-port-bottom -->
                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--======== careers-experts End ==========-->

        <div class="gallery-section section-space--ptb_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-center">
                            <h3 class="section-title mb-15 wow move-up">Pay a visit & have some coffee!</h3>
                            <div class="contact-button section-space--mt_30 wow move-up">
                                <a class="ht-btn ht-btn-md ht-btn--solid" href="{% url 'login' %}">
                                    <span class="button-text">Get started </span>
                                </a>
                            </div>
                            <br><br><br>
                        </div>
                    </div>
                </div>

            </div>

{% endblock %}