{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">

                        <h1 class="breadcrumb-title text-color-primary">WHY CHOOSE US</h1>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Why Choose Us</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div class="site-wrapper-reveal">
        <!--===========  feature-images-wrapper  Start =============-->
        <div class="feature-images-wrapper section-space--ptb_100">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_40">
                            <h6 class="section-sub-title mb-20">WHY INVEST WITH US</h6>
                            <h4 class="heading">COMPONENTS OF OUR SUCCESS</h4>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="feature-images__serven">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/icons/mitech-landing-theme-feature-01-68x68.jpg' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Trader Performance </h6>
                                                <div class="text">High efficiency of traders, which was the result of the comprehensive and rigorous training of each member of our team.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/icons/mitech-landing-theme-feature-02-68x68.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Instant Withdrawal</h6>
                                                <div class="text">Withdrawal requests are immediately entered in the automatic processing queue. Waiting is kept to a minimum
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/icons/mitech-landing-theme-feature-03-68x68.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Client Focus </h6>
                                                <div class="text">Quality service, transparency of work, fast feedback and accessibility
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/icons/mitech-landing-theme-feature-04-68x68.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Data Security </h6>
                                                <div class="text">Our platform provides a high level of security for its customers. The company's servers are resistant to any DDoS attacks, as well as all traffic from clients to go through reliable SSL encryption.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/icons/mitech-landing-theme-feature-05-68x68.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">24/7 Support </h6>
                                                <div class="text">The best specialized professionals from {{sitename}} will come to your aid in case business circumstances require it. Each Client of the Company can count on a personal approach in resolving all possible
                                                    issues related to cooperation with us.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/icons/mitech-landing-theme-feature-06-68x68.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Trading Efficiency</h6>
                                                <div class="text">The high level of training of traders and the use of innovative methods of analytics and monitoring indicative exchange fluctuations allows for maximizing profits.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>

                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/icons/mitech-landing-theme-feature-04-68x68.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Future Growth</h6>
                                                <div class="text">{{sitename}} is a company with a clear roadmap and expansion plans for the future that will only enhance our customers’ experience.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/icons/mitech-landing-theme-feature-05-68x68.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Analysis First </h6>
                                                <div class="text">We pride ourselves on a strong analytical department that conducts in-depth research on each investment field, continuously optimizing the investment process.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{% static 'assets2/images/icons/mitech-landing-theme-feature-06-68x68.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="heading">Dedicated Server</h6>
                                                <div class="text">A dedicated server means quicker load times, higher safety and a more stable website experience for all users of the {{sitename}} platform
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===========  feature-images-wrapper  End =============-->

    </div>

{% endblock %}