{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{% static 'asset/css/font-awesome.min.css' %}">
    <!-- Vendors Min CSS -->
    <link rel="stylesheet" href="{% static 'dassets/css/vendors.min.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'dassets/css/style.css' %}">
 
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'dassets/css/responsive.css' %}">

    <title>Naxtrust Expert Traders</title>
    {% block extrastyle %}
    {% endblock %}
</head>

<body>
    <!-- Side Menu -->
    <!-- Start Sidemenu Area -->
    <div class="sidemenu-area">
        <div class="sidemenu-header">
            <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
                <img src="{% static 'asset/images/nax-logo.png' %}" alt="logo">
            </a>

            <div class="burger-menu d-none d-lg-block">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </div>

            <div class="responsive-burger-menu d-block d-lg-none">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </div>
        </div>

        <div class="sidemenu-body">
            <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
                <li class="nav-item-title">Main</li>

                <li class="nav-item {% if request.path == '/dashboard/'%}mm-active{% endif%}">
                    <a href="{% url 'dashboard' %}" class="nav-link">
                        <span class="icon"><i class='fa fa-tachometer'></i></span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>

                <li class="nav-item-title">Pages</li>
                <li class="nav-item {% if request.path == '/fund/'%}mm-active{% endif%}">
                    <a href="{% url 'fund' %}" class="nav-link">
                        <span class="icon"><i class='fa fa-money'></i></span>
                        <span class="menu-title">Fund Account</span>
                    </a>
                </li>

                <li class="nav-item {% if request.path == '/withdraw/'%}mm-active{% endif%}">
                    <a href="{% url 'withdraw' %}" class="nav-link">
                        <span class="icon"><i class='fa fa-credit-card'></i></span>
                        <span class="menu-title">Withdraw</span>
                    </a>
                </li>
                
                <li class="nav-item {% if request.path == '/profile/'%}mm-active{% endif%}">
                    <a href="{% url 'profile' %}" class="nav-link">
                        <span class="icon"><i class='fa fa-user'></i></span>
                        <span class="menu-title">Profile</span>
                    </a>
                </li>
                <li class="nav-item-title">Support</li>
                <li class="nav-item {% if request.path == '/account-manager/'%}mm-active{% endif%}">
                    <a href="{% url 'account-manager' %}" class="nav-link">
                        <span class="icon"><i class='fa fa-user'></i></span>
                        <span class="menu-title">Account Manager / Expert Traders</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="mailto:support@naxtrust.com" class="nav-link">
                        <span class="icon"><i class='fa fa-headphones'></i></span>
                        <span class="menu-title">Support</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Sidemenu Area -->

    <!-- Main Content Wrapper -->
    <div class="main-content d-flex flex-column">
        <!-- Top Navbar -->
        <!-- Top Navbar Area -->
        <nav class="navbar top-navbar navbar-expand">
            <div class="collapse navbar-collapse" id="navbarSupportContent" style="display: flex; justify-content: space-between; align-items: center;">
                <div class="responsive-burger-menu d-block d-lg-none">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </div>

                <ul class="navbar-nav left-nav align-items-center navbar-left">
                    <li class="nav-item">
                        <a href="{% url 'edit-profile' %}"  class="nav-link" data-toggle="tooltip" data-placement="bottom"
                            title="Edit profile">
                            <i class='fa fa-pencil-square-o'></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav right-nav navbar-right align-items-center">
                    <li class="nav-item">
                        <a class="nav-link bx-fullscreen-btn" id="fullscreen-button">
                            <i class="fa fa-arrows-alt"></i>
                        </a>
                    </li>

                    <li class="nav-item message-box dropdown">
                        <a href="mailto:support@naxtrust.com" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="message-btn">
                                <i class='fa fa-envelope'></i>
                            </div>
                        </a>
                    </li>

                    
                    <li class="nav-item dropdown profile-nav-item">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="menu-profile">
                                <span class="name">
                                    {{request.user.username}}
                                </span>
                                <span class="icon rounded-circle h2"><i class='fa fa-user'></i></span>

                            </div>
                        </a>

                        <div class="dropdown-menu">
                            <div class="dropdown-header d-flex flex-column align-items-center">
                                <div class="figure mb-3">

                                </div>
                                <div class="info text-center">
                                    <span class="name">
                                    <!-- Username-->
                                        {{request.user.username}}
                                    </span>
                                    <p class="mb-3 email">
                                        {{request.user.email}}
                                    </p>
                                </div>
                            </div>

                            <div class="dropdown-body">
                                <ul class="profile-nav p-0 pt-3">
                                    <li class="nav-item {% if request.path == '/profile/'%}mm-active{% endif%}">
                                        <a href="{% url 'profile' %}" class="nav-link ">
                                            <i class='fa fa-user'></i> <span>Profile</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown-footer">
                                <ul class="profile-nav">
                                    <li class="nav-item">
                                        <a href="javascrit::void(0)" class="btn-outline-danger nav-link" data-toggle="modal" data-target="#logoutModal">
                                            <i class='fa fa-sign-out'></i> <span>Logout</span>
                                        </a>
                                    </li>
                            
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        
        <!-- End Top Navbar Area -->
        {% for message in messages %}
        <div class="free-box flex-center">
            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span>{{message}}</span>
            </div>
        </div>
        {% endfor %}

        <!-- Main Content Layout -->
        {% block content%}
        {% endblock %}
    <!-- End of Main Content Layout-->

        <!-- Footer -->
        <div class="flex-grow-1"></div>

        <!-- Start Footer -->
        <footer class="footer-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <p>Copyright © 2021 <a href="{% url 'index' %}">Naxtrust</a>. All rights
                        reserved</p>
                </div>
            </div>
        </footer>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to logout? 
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                </div>
              </div>
            </div>
          </div>
        <!-- End Footer -->
    </div>
    <!-- End Main Content Wrapper -->

    <!-- Footer Scripts -->
    <!-- Vendors Min JS -->
    <script src="{% static 'dassets/js/vendors.min.js' %}"></script>


    <!-- ChartJS -->
    <script src="{% static 'dassets/js/chartjs/chartjs.min.js' %}"></script>
    <!-- When the url is charts/chartjs then load the library -->
    <script src="{% static 'asset/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>

    <!-- jvectormap Min JS -->
    <script src="{% static 'dassets/js/jvectormap-1.2.2.min.js' %}"></script>
    <!-- jvectormap World Mill JS -->
    <script src="{% static 'dassets/js/jvectormap-world-mill-en.js' %}"></script>

    <!-- When the url is pages/maps then load the library -->

    <!-- Custom JS -->
    <script src="{% static 'dassets/js/custom.js' %}"></script>
</body>


<script>
    function ClipBoard() {
        p1.innerText = copytext.innerText;
        Copied = p1.createTextRange();
        Copied.execCommand("Copy");
    }

    function copyText() {
        /* Get the text field */
        var copyText = document.getElementById("p1");

        /* Select the text field */
        copyText.select();

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied Address: " + copyText.value);
    }

</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/61d3deea3d23fa26e870e31c/1fohpth79';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<script>
    var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?69743';
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = url;
    var options = {
  "enabled":true,
  "chatButtonSetting":{
      "backgroundColor":"#4dc247",
      "ctaText":"",
      "borderRadius":"25",
      "marginLeft":"0",
      "marginBottom":"50",
      "marginRight":"50",
      "position":"left"
  },
  "brandSetting":{
      "brandName":"naxtrust",
      "brandSubTitle":"answers asap",
      "brandImg":"{% static 'asset/images/nax-logo.png' %}",
      "welcomeText":"Hi there!\nHow can I help you?",
      "messageText":"Hello, I have a question about ",
      "backgroundColor":"#0a5f54",
      "ctaText":"Start Chat",
      "borderRadius":"25",
      "autoShow":false,
      "phoneNumber":"+15743736695"
  }
};
    s.onload = function() {
        CreateWhatsappChatWidget(options);
    };
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
</script>
{% block extrascript %}
{% endblock %}
</html>

