{% extends 'dashboard/base.html' %} {% load static %} {% block extrastyle %}
<style>
  .color-p {
    color: green;
    font-weight: bold;
  }
  .color-l {
    color: red;
    font-weight: bold;
  }
  .colored-list > * {
    background-color: #0a2647;
    color: white;
  }
  .status-box{
    background-color: #0a2647;
    color: white;
    padding: 10px 15px;
  }
  .status-box .status-header{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .status-box .status-body{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
  }
  .col-md-3{
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
</style>
{% endblock %} {% block content %}
<!-- Main Content Layout -->
<div class="welcome-area">
  <div class="row m-0 align-items-center">
    <div class="col-md-12 p-2">
      <div class="welcome-content">
        <h1 class="mb-2">Hi, Welcome to your wallet {{request.user.full_name}}!</h1>
      </div>
    </div>

    <!-- <div class="col-lg-7 col-md-12 p-0">
      <div class="welcome-img">
        <img
          src="{% static 'dassets/img/welcome-img.png' %}"
          style="max-height: 250px; object-fit: contain"
          alt="image"
        />
      </div>
    </div> -->
  </div>
</div>
<!-- End Welcome Area -->
<!-- Start -->
<div
  style="
    margin-top: 20px !important;
    height: 62px;
    background-color: #0a2647;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #0a2647;
    border-radius: 4px;
    text-align: right;
    line-height: 14px;
    block-size: 62px;
    font-size: 12px;
    font-feature-settings: normal;
    text-size-adjust: 100%;
    padding: 1px;
    padding: 0px;
    margin: 0px;
    width: 100%;
  "
>
  <div style="height: 40px; padding: 0px; margin: 0px; width: 100%">
    <iframe
      src="https://widget.coinlib.io/widget?type=horizontal_v2&amp;theme=dark&amp;pref_coin_id=1505&amp;invert_hover=no"
      width="100%"
      height="36px"
      scrolling="auto"
      marginwidth="0"
      marginheight="0"
      frameborder="0"
      border="0"
      style="border: 0; margin: 0; padding: 0"
    ></iframe>
  </div>
</div>
<!-- Stats Area -->
<div class="ecommerce-stats-area">
  <div class="row">
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">${{account.invested_balance}} <i class="fa fa-money"></i></h6>
        <p class="status-body">Invested Balance</p>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">${{account.profit}}<i class="fa fa-area-chart"></i></h6>
        <p class="status-body">Profit Balance </p>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">${{account.profit_balance}}<i class="fa fa-money"></i></h6>
        <p class="status-body">Total Balance </p>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">${{account.all_referral_bonus}}<i class="fa fa-users"></i></h6><p class="status-body">Referral Bonus</p>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">{{account.btc_balance}} <i class="fa fa-money"></i></h6>
        <p class="status-body">Bitcoin Balance</p>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">{{account.eth_balance}}<i class="fa fa-money"></i></h6>
        <p class="status-body">Ethereum Balance </p>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">{{account.usdt_balance}}<i class="fa fa-money"></i></h6>
        <p class="status-body">USDT Balance </p>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">{{account.usd_balance}}<i class="fa fa-money"></i></h6>
        <p class="status-body">USD Balance </p>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">{{account.shib_balance}}<i class="fa fa-money"></i></h6>
        <p class="status-body">Shiba Balance </p>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">{{account.ntc_balance}}<i class="fa fa-money"></i></h6>
        <p class="status-body">naxtrust Balance </p>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">{{account.level}}<i class="fa fa-money"></i></h6>
        <p class="status-body">Account Level</p>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="status-box">
        <h6 class="status-header">verified<i class="fa fa-vcard"></i></h6><p class="status-body">Account Status</p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <h3 class="card-header">Trading in Progress</h3>
  <div class="card-body">
    <div
      role="progressbar"
      aria-valuenow="67"
      aria-valuemin="0"
      aria-valuemax="100"
      style="--value: {{account.trading_progress}}; --size:100px;"
    ></div>
  </div>
</div>

<!-- End Stats Area -->

<!-- Stats Area -->
<div class="ecommerce-stats-area">
  <div class="row">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright">
        <a href="https://www.tradingview.com" rel="noopener" target="_blank"
          ><span class="blue-text">Ticker Tape</span></a
        >
        by TradingView
      </div>
      <script
        type="text/javascript"
        src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
        async
      >
        {
            "symbols": [{
                    "title": "S&P 500",
                    "proName": "OANDA:SPX500USD"
                },
                {
                    "title": "Nasdaq 100",
                    "proName": "OANDA:NAS100USD"
                },
                {
                    "title": "EUR/USD",
                    "proName": "FX_IDC:EURUSD"
                },
                {
                    "title": "BTC/USD",
                    "proName": "BITSTAMP:BTCUSD"
                },
                {
                    "title": "ETH/USD",
                    "proName": "BITSTAMP:ETHUSD"
                },
                 {
                      "description": "DOGE/USD",
                      "proName": "BITFINEX:DOGEUSD"
                    }
            ],
            "colorTheme": "light",
            "isTransparent": false,
            "displayMode": "adaptive",
            "locale": "en"
        }
      </script>
    </div>
  </div>
</div>
<!-- End Stats Area -->

<!-- End -->

<!-- Area Chart - Datetime X-Axis -->
<div class="card mb-30">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3>Area Chart - Datetime X-Axis</h3>
  </div>

  <div class="card-body">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div id="tradingview_3cc53"></div>
      <div class="tradingview-widget-copyright">
        <a
          href="https://www.tradingview.com/symbols/BITSTAMP-EURUSD/"
          rel="noopener"
          target="_blank"
          ><span class="blue-text">EURUSD Chart</span></a
        >
        by TradingView
      </div>
      <script
        type="text/javascript"
        src="https://s3.tradingview.com/tv.js"
      ></script>
      <script type="text/javascript">
        new TradingView.widget({
          width: "100%",
          height: 610,
          symbol: "BITSTAMP:EURUSD",
          interval: "D",
          timezone: "Etc/UTC",
          theme: "Light",
          style: "1",
          locale: "en",
          toolbar_bg: "#f1f3f6",
          enable_publishing: false,
          allow_symbol_change: true,
          container_id: "tradingview_3cc53",
        });
      </script>
    </div>
    <!-- TradingView Widget END -->
  </div>
 
</div>
<div class="card mb-30">

  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left"><b>Cryptocurrency Market</b></h5>
            <ul class="nav nav-pills card-header-pills pull-right">
              <!-- <li class="nav-item">
                <button type="" class="btn btn-sm btn-outline-primary btn-round" id="chart1"><i class="fa fa-print"></i> <span class="">Get Pdf</span></button>
              </li> -->
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i></button>
              </li>
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round" data-toggle="collapse" data-target="#demo3"><i class="fa fa-chevron-down"></i></button>
              </li>
            </ul>
          </div>
          <div id="tablechart1">
            <div id="demo3" class="">
              <!-- TradingView Widget BEGIN -->
              <div class="tradingview-widget-container" style="width: 100%; height: 350px;">
                <div class="tradingview-widget-container__widget"></div>
                <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span class="blue-text">Cryptocurrency Markets</span></a> by TradingView</div> -->
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
                  {
                    "width": "100%",
                    "height": "350",
                    "defaultColumn": "overview",
                    "screener_type": "crypto_mkt",
                    "displayCurrency": "USD",
                    "colorTheme": "dark",
                    "locale": "en"
                  }
                </script>
              </div>
              <!-- TradingView Widget END -->
            </div>
    
          </div>
        </div>
      </div>
      <!-- </div> -->
    <div class="col-md-6">
      
      <div class="card full-screen-container">
        <div class="card-header align-items-start justify-content-between flex">
        <h5 class="card-title  pull-left"><b>Stock Market Data</b></h5>
        <ul class="nav nav-pills card-header-pills pull-right">
          <!-- <li class="nav-item">
            <button type="" class="btn btn-sm btn-outline-primary btn-round" id="chart2"><i class="fa fa-print"></i> <span class="">Get Pdf</span></button>
          </li> -->
          <li class="nav-item">
            <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i></button>
          </li>
          <li class="nav-item">
            <button class="btn btn-sm btn-link btn-round" data-toggle="collapse" data-target="#demo1"><i class="fa fa-chevron-down"></i></button>
          </li>
        </ul>
      </div>
        <div id="tablechart2">
          <div id="demo1" class="">
            <div class="tradingview-widget-container" style="width: 100%; height: 350px;">
              <!-- TradingView Widget BEGIN -->
              <!-- <div class="tradingview-widget-container"> -->
              <div class="tradingview-widget-container__widget"></div>
              <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">stock</span></a> by TradingView</div> -->
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                {
                  "width": "100%",
                  "height": "350",
                  "symbolsGroups": [{
                      "name": "stock",
                      "symbols": [{
                          "name": "NASDAQ:NDAQ",
                          "displayName": "NASDAQ"
                        },
                        {
                          "name": "NASDAQ:AAPL",
                          "displayName": "APPLE STOCK"
                        },
                        {
                          "name": "NASDAQ:GOOGL",
                          "displayName": "GOOGL"
                        },
                        {
                          "name": "NASDAQ:NVAX",
                          "displayName": "NVAX NA"
                        },
                        {
                          "name": "NASDAQ:AMZN",
                          "displayName": "AMZN"
                        },
                        {
                          "name": "NASDAQ:FB",
                          "displayName": "FACEB"
                        },
                        {
                          "name": "NASDAQ:TLSA",
                          "displayName": "TLSA"
                        }
                      ]
                    },
                    {
                      "name": "Indices",
                      "originalName": "Indices",
                      "symbols": [{
                          "name": "FOREXCOM:SPXUSD",
                          "displayName": "S&P 500"
                        },
                        {
                          "name": "FOREXCOM:NSXUSD",
                          "displayName": "Nasdaq 100"
                        },
                        {
                          "name": "FOREXCOM:DJI",
                          "displayName": "Dow 30"
                        },
                        {
                          "name": "INDEX:NKY",
                          "displayName": "Nikkei 225"
                        },
                        {
                          "name": "INDEX:DEU30",
                          "displayName": "DAX Index"
                        },
                        {
                          "name": "FOREXCOM:UKXGBP",
                          "displayName": "UK 100"
                        }
                      ]
                    },
                    {
                      "name": "Commodities",
                      "originalName": "Commodities",
                      "symbols": [{
                          "name": "CME_MINI:ES1!",
                          "displayName": "S&P 500"
                        },
                        {
                          "name": "CME:6E1!",
                          "displayName": "Euro"
                        },
                        {
                          "name": "COMEX:GC1!",
                          "displayName": "Gold"
                        },
                        {
                          "name": "NYMEX:CL1!",
                          "displayName": "Crude Oil"
                        },
                        {
                          "name": "NYMEX:NG1!",
                          "displayName": "Natural Gas"
                        },
                        {
                          "name": "CBOT:ZC1!",
                          "displayName": "Corn"
                        }
                      ]
                    },
                    {
                      "name": "Bonds",
                      "originalName": "Bonds",
                      "symbols": [{
                          "name": "CME:GE1!",
                          "displayName": "Eurodollar"
                        },
                        {
                          "name": "CBOT:ZB1!",
                          "displayName": "T-Bond"
                        },
                        {
                          "name": "CBOT:UB1!",
                          "displayName": "Ultra T-Bond"
                        },
                        {
                          "name": "EUREX:FGBL1!",
                          "displayName": "Euro Bund"
                        },
                        {
                          "name": "EUREX:FBTP1!",
                          "displayName": "Euro BTP"
                        },
                        {
                          "name": "EUREX:FGBM1!",
                          "displayName": "Euro BOBL"
                        }
                      ]
                    },
                    {
                      "name": "Forex",
                      "originalName": "Forex",
                      "symbols": [{
                          "name": "FX:EURUSD"
                        },
                        {
                          "name": "FX:GBPUSD"
                        },
                        {
                          "name": "FX:USDJPY"
                        },
                        {
                          "name": "FX:USDCHF"
                        },
                        {
                          "name": "FX:AUDUSD"
                        },
                        {
                          "name": "FX:USDCAD"
                        }
                      ]
                    }
                  ],
                  "showSymbolLogo": true,
                  "colorTheme": "dark",
                  "isTransparent": false,
                  "locale": "en"
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="form-group">
    <table><thead>
          <tr>
            <th scope="col"><label for="">currency pairs</label>
                <input type="text" name="full_name" class="form-control" value="{{form.full_name.value|default:''}}" placeholder="currency pairs" required>Currency pairs</th>
            <th scope="col"><label for="">amount to trade</label>
                <input type="text" name="full_name" class="form-control" value="{{form.full_name.value|default:''}}" placeholder="amount to trade" required>Amount to trade</th>
            <th scope="col"><label for="">liquidity</label>
                <input type="text" name="full_name" class="form-control" value="{{form.full_name.value|default:''}}" placeholder="liquidity" required>liquidity</th>
            <th scope="col"><label for="">status</label>
                <input type="text" name="full_name" class="form-control" value="{{form.full_name.value|default:''}}" placeholder="status" required>Status</th>
            <th scope="col"><label for="">date</label>
                <input type="text" name="full_name" class="form-control" value="{{form.full_name.value|default:''}}" placeholder="time" required>Date</th>
       </tr>
       </thead></table>
  </div>
  <div class="radio-toolbar form-group">
                <input type="radio" id="radioTrader" name="usertype" value="expert-trader" >
                <label for="radioTrader">trade now only for Trader</label>
            </div>
            <div class="form-group">
                <button type="submit" name="registerForm" class="btn btn-primary btn-block">
                 trade now 
                </button>
                <br>
              
                 

            </div>
<div class="card mt-2">
  <div class="card-body">
    <div class="card-body" style="overflow-x: auto">
      <h1>Trading History</h1>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Currency type</th>
            <th scope="col">Amount</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for deposit in trading_history %}
          <tr>
            <td>{{deposit.currency}}</td>
            <td>{{deposit.amount}}</td>
            <td class="color-{{deposit.trading_type}}">
              {{deposit.get_trading_type_display}}
            </td>
            <td>{{deposit.get_status_display}}</td>
            <td>{{deposit.date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
