{% extends 'dashboard/base.html' %} {% load static %} 
{% block extrastyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block content %}
<!-- Main Content Layout -->
<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
  <h1>Dashboard</h1>
  <ol class="breadcrumb">
    <li class="item">
      <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i></a>
    </li>
    <li class="item">Dashboard</li>
    <li class="item">Deposits</li>
  </ol>
</div>
<!-- End Breadcrumb Area -->

<!-- Start -->
<div class="card mb-30">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3>
      Fund account
      <pre>via Crypto or Bank</pre>
    </h3>
  </div>
  <div class="card-body">
    <div class="alert alert-dark rounded-pill" role="alert">
      Contact support@naxtrust.com for other payment methods
    </div>

  </div>
  <div id="tabs" class="mb-4">
    <ul>
      <li><a href="#tabs-1">Crypto</a></li>
      <li><a href="#tabs-2">Fiat</a></li>
    </ul>
    <div id="tabs-1">
      <div class="card-body">
        
        <p>Funding Steps</p>
        <ul>
          <li>Copy the wallet address provided below.</li>
          <li>
            Make payment from your Crypto wallet. (Send the equivalent
            cryptocurrency amount of the USD amount you wish to invest).
          </li>
          <li>
            Provide your transaction hash ID. This can be gotten from your wallet
            after payment.
          </li>
          <li>Click on Submit.</li>
        </ul>
        <p>
          Your account will be credited once your payment is confirmed. NOTE: If you
          have problems finding your Transaction Hash ID, Use the last 10 digits of
          your wallet address as the Transaction Hash ID. If you encounter any issue
          while funding your account, please contact support@naxtrust.com for
          assistance.
        </p>
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label>Fund Amount ( USD )</label>
            <input type="number" min="100" class="form-control" name="amount" />
            <small class="form-text text-muted"
              >Minimum deposit amount is $100</small
            >
          </div>
          <div class="form-group">
            <label>Username</label>
            <input
              type="text"
              class="form-control"
              value="{{request.user.username}}"
              name="username"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              value="{{request.user.email}}"
              name="email"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Send Payment To BTC Address: </label>
            <input type="text" class="form-control" value="{{address}}" readonly />
            <!-- <small class="form-text text-muted">Copy address</small> -->
          </div>
          <div class="form-group">
            <label>OR Send Payment To ETH Address: </label>
            <input
              type="text"
              class="form-control"
              value="{{eth_address}}"
              readonly
            />
            <!-- <small class="form-text text-muted">Copy address</small> -->
          </div>
          <div class="form-group">
            <label>OR Send Payment To SHIB Address: </label>
            <input
              type="text"
              class="form-control"
              value="{{shib_address}}"
              readonly
            />
            <!-- <small class="form-text text-muted">Copy address</small> -->
          </div>
          <div class="form-group">
            <label>OR Send Payment To USDT(trc20) Address: </label>
            <input
              type="text"
              class="form-control"
              value="{{usdt_address}}"
              readonly
            />
            <!-- <small class="form-text text-muted">Copy address</small> -->
          </div>
          <div class="form-group">
            <label>OR Send Payment To USDT(erc20) Address: </label>
            <input
              type="text"
              class="form-control"
              value="{{usdterc_address}}"
              readonly
            />
            <!-- <small class="form-text text-muted">Copy address</small> -->
          </div>
          <div class="form-group">
            <label>Wallet Address</label>
            <input
              type="text"
              class="form-control"
              name="wallet_address"
              value=""
              required
            />
          </div>
          <div class="form-group">
            <label>Transaction Hash ID</label>
            <input
              class="form-control"
              placeholder="Provide your Transaction Hash ID"
              type="text"
              name="transaction_hash"
              required
            />
          </div>
          <button type="submit" name="btc_submit" class="btn btn-primary">
            Complete transaction
          </button>
        </form>
      </div>
    </div>
    <div id="tabs-2">
      <div class="card-body bg-secondary p-2">
        <div class="row">
          <div class="col-md-3 col-12 mb-2">
            <div class="card">
              <div class="card-body text-center">
                <img src="{% static 'asset/images/cashapp.png' %}" width="100" alt="" class="img-fluid">
                <h4 class="text-center p-3">CASH APP</h4>
                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Select</button>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-12 mb-2">
            <div class="card">
              <div class="card-body text-center">
                <img src="{% static 'asset/images/zelle.png' %}" width="100" alt="" class="img-fluid">
                <h4 class="text-center p-3">ZELLE</h4>
                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Select</button>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-12 mb-2">
            <div class="card">
              <div class="card-body text-center">
                <img src="{% static 'asset/images/paypal.jpeg' %}" width="100" alt="" class="img-fluid">
                <h4 class="text-center p-3">PAYPAL</h4>
                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Select</button>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-12 mb-2">
            <div class="card">
              <div class="card-body text-center">
                <img src="{% static 'asset/images/bank.png' %}" width="100" alt="" class="img-fluid">
                <h4 class="text-center p-3">BANK</h4>
                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Select</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card-body" style="overflow-x: auto">
    <h1>Deposits</h1>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Amount</th>
          <th scope="col">Coin Address / Description</th>
          <th scope="col">Transaction Id / Hash</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for deposit in deposits %}
        <tr>
          <td>{{request.user.email}}</td>
          <td>{{deposit.amount}}</td>
          <td>{{deposit.wallet_address}}</td>
          <td>{{deposit.transaction_hash}}</td>
          <td>{{deposit.get_status_display}}</td>
          <td>{{deposit.date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fund Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          If you wish to fund your Naxtrust account via this method, please contact us via email to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you fund your account. Thanks for choosing Naxtrust Traders.
        </p>
        <div class="alert alert-primary">
          <p style="font-weight: bold;">Contact us at support@naxtrust.com</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
{% endblock %}
