{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
        <!-- Main Content Layout -->
            <!-- Breadcrumb Area -->
    <div class="breadcrumb-area">
        <h1>Dashboard</h1>
        <ol class="breadcrumb">
            <li class="item">
                <a href="/dashboard"><i class='fa fa-home'></i></a>
            </li>
            <li class="item">Dashboard</li>
            <li class="item">Withdraw</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->
    <!-- Stats Area -->
    <div class="ecommerce-stats-area">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-stats-card-box">
                    <div class="icon">
                        <i class='fa fa-check'></i>
                    </div>
                    <span class="sub-title">Balance</span>
                    <h3>${{account.profit_balance}}</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-stats-card-box">
                    <div class="icon">
                        <i class='fa fa-usd'></i>
                    </div>
                    <span class="sub-title">Invested</span>
                    <h3>${{account.invested_balance}}</h3>
                </div>
            </div>

        </div>
    </div>
    <!-- End Stats Area -->

    <!-- Start -->
    <div class="card mb-30">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>Withdraw Funds</h3>

        </div>

        <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
             <div class="form-group">
                    <label>Withdrawal Amount ( USD )</label>
                    <input required placeholder="Enter withdrawal amount" name="amount" value="{{form.amount.value|default:''}}" type="number" class="form-control"
                        name="btc_fund">
                        <span class="error-text">{{form.amount.errors|default:""}}</span>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" value="{{request.user.username}}" name="username" readonly>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" value="{{request.user.email}}" name="email" readonly>
                </div>
                <div class="form-group">
                    <label>Withdrawal Type</label>

                    <select required class="form-control" name="withdraw_type">
                        <option value="bank">Bank Transfer</option>
                        <option selected value="btc">Bitcoin</option>
                    </select>
                    <span class="error-text">{{form.withdraw_type.errors|default:""}}</span>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea required name="account_detail" class="form-control"
                        placeholder="Please provide your bitcoin address here if you want to receive payment through bitcoin or the bank account details"
                        rows="3">{{form.account_detail.value|default:''}}</textarea>
                    <span class="error-text">{{form.account_detail.errors|default:""}}</span>
                </div>
                <div class="form-group">
                   
                    <p class="mb-0">A verification token is required to continue with the withdrawal process. <button type="button" class="btn btn-primary btn-sm" id="email-button" onclick="sendVerifyEmail()">click here</button> to receive the token.</p>
                    <label>Token</label>
                    <input required placeholder="Enter Token" value="{{form.token.value|default:''}}" name="token" type="number" class="form-control" >
                    <span class="error-text">{{form.token.errors|default:""}}</span>
                </div>
                <button type="submit" class="btn btn-primary"  data-toggle="modal" data-target="#withdrawModal"> Withdraw Funds</button>
            
            </form>

        </div>
        <br><br>
        <blockquote class="blockquote bd-l bd-5 pd-l-20">
            <p class="mg-b-5 tx-inverse">Read Me Carefully</p>
            <footer class="blockquote-footer tx-14">Please note that depending on your location (Country), withdrawal can
                take up to five (5) working days to process. Bitcoin Payment though is made instantly to the Address
                provided.</footer>
        </blockquote>
    </div>
    

    <div class="card mb-30">
        
        <div class="card-body" style="overflow-x: auto;">
            <h1>Withdrawals</h1>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        
                        <!-- <th scope="col">Transaction_id</th> -->
                        
                        <th scope="col">Email</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Account Details </th>
                        <th scope="col">Status</th>
                        <th scope="col">Date Approved</th>
                        <th scope="col">Date</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for withdraw in withdraws %}
                    <tr>
                        <td>
                            {{request.user.email}}
                        </td>
                        <td>
                            {{withdraw.amount}}
                        </td>
                        <td>
                            {{withdraw.account_detail}}
                        </td>
                        <td>
                            {{withdraw.get_status_display}}
                        </td>
                        <td>
                            {{withdraw.date_approved|default:"Not Approved"}}
                        </td>
                        <td>
                            {{withdraw.date}}
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block extrascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function sendVerifyEmail(){
        const emailButton = document.getElementById("email-button")
        emailButton.textContent = "loading"
        emailButton.disabled = true
        console.log(emailButton.disabled)
        $.ajax({
        url:"{% url 'verify-withdraw' %}",
        method:"post",
        data:{
            email:"{{request.user.email}}",
            csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value
            },
        success:function(res){
            swal({
                title: "Email Sent!",
                text: "The Token has been sent to your email. check your inbox or spam.",
                icon: "success",
                });
                emailButton.textContent = "click here"
                emailButton.disabled = false
        },
        error:function(res){
            swal({
                title: "Error!",
                text: "An error occurred while trying to send email. please wait and try again. if error persists, contact support.",
                icon: "icon",
                });
                emailButton.textContent = "click here"
                emailButton.disabled = false
        }
    })
    }
    
</script>
{% endblock %}